* {
    margin-top: 20px;
    margin: 2%;
    /* margin-left:5%;
    margin-right: 5%;
    margin-bottom: 5%; */
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

#navbar {
    grid-area: header;
    background-color: whitesmoke;
    color: black;
  

}

input {

    width: 400px;
    border-radius: 10px;
    padding: 11px;
    margin-top: 20px;
}

button {
    width: 130px;
    padding: 10px;
    border-radius: 5px;
    background-color: black;
    color: whitesmoke;
    margin-right: 5%;

}

button:hover {
    cursor: pointer;
}

.left {
    width: 455px;
    grid-area: main;
    margin-top: 100px;
    padding: 20px;
    background-color: white;
    border-right: 1px solid black;
}

.right {
    grid-area: right;
    margin-top: 100px;
    margin-left: 460px;
    background-color: white;
    
}

p {
    
    width: 300px;
    margin-top: 20px;
    font-size: 23px;
}

#container {
    display: grid;
    grid-template-areas:
        'header header'
        'main main  right right ';
}

#googleMap {
    width: 700px;
    height: 400px;
}
h1{
    text-align: center;
    background-image: linear-gradient(yellow,aqua);
    padding: 10px;
    border-radius: 15px;
}